In [1]:
import pandas as pd

In [2]:
src_csv = 'metadata_by_song.csv'
data = pd.read_csv(src_csv)
print(data.shape)
data.head()

(391, 6)

         songID  num_Q1  num_Q2  num_Q3  num_Q4  DominantQ
0   FyK_c-TIcCA       0       0       0       3          4
1   7gifuoofgpk       0       0       0       2          4
2   12tDlCQVRtA       0       0       0       3          4
3  2Z9SjI131jA_       6       0       0       0          1
4   Tc684nD8CEA       0       0       0       5          4

In [4]:
Q1 = data[data['DominantQ'] == 1]
Q2 = data[data['DominantQ'] == 2]
Q3 = data[data['DominantQ'] == 3]
Q4 = data[data['DominantQ'] == 4]

In [10]:
sample_Q1 = Q1.sample(10)

In [11]:
sample_Q1.sum(axis = 0)

songID       FfwKrQyQ7WUmiqLU2739dkeVMSeElk81QsZe3IB1OVfwpN...
num_Q1                                                      25
num_Q2                                                       1
num_Q3                                                       0
num_Q4                                                       3
DominantQ                                                   10
dtype: object

In [32]:
sample_Q1.to_csv('val_Q1.csv', index = False)

In [12]:
sample_Q2 = Q2.sample(10)
sample_Q2.sum(axis = 0)

songID       8TYY0qG-KOw5NW0zDu6IYM3_MxhSS86oUivCNV47tsRwP-...
num_Q1                                                       1
num_Q2                                                      25
num_Q3                                                       2
num_Q4                                                       1
DominantQ                                                   20
dtype: object

In [33]:
sample_Q2.to_csv('val_Q2.csv', index = False)

In [30]:
sample_Q3 = Q3.sample(10)
sample_Q3.sum(axis = 0)

songID       MbvPxCUMSekiRu9KQvbtVwRL_cmmNVLfsfnqb8zqHqdYH6...
num_Q1                                                       1
num_Q2                                                       1
num_Q3                                                      24
num_Q4                                                       1
DominantQ                                                   30
dtype: object

In [34]:
sample_Q3.to_csv('val_Q3.csv', index = False)

In [173]:
sample_Q4 = Q4.sample(10)
sample_Q4.sum(axis = 0)

songID       mGYKWCVnMwQr_sD61KeUQUbiROWEwkDQQIgpNyJVWcBoFy...
num_Q1                                                       1
num_Q2                                                       0
num_Q3                                                       0
num_Q4                                                      21
DominantQ                                                   40
dtype: object

In [176]:
sample_Q4.to_csv('val_Q4_small.csv', index = False)

In [36]:
sample_Q1.sum(axis=0)

songID       FfwKrQyQ7WUmiqLU2739dkeVMSeElk81QsZe3IB1OVfwpN...
num_Q1                                                      25
num_Q2                                                       1
num_Q3                                                       0
num_Q4                                                       3
DominantQ                                                   10
dtype: object

In [37]:
sample_Q2.sum(axis=0)

songID       8TYY0qG-KOw5NW0zDu6IYM3_MxhSS86oUivCNV47tsRwP-...
num_Q1                                                       1
num_Q2                                                      25
num_Q3                                                       2
num_Q4                                                       1
DominantQ                                                   20
dtype: object

In [38]:
sample_Q3.sum(axis=0)

songID       MbvPxCUMSekiRu9KQvbtVwRL_cmmNVLfsfnqb8zqHqdYH6...
num_Q1                                                       1
num_Q2                                                       1
num_Q3                                                      24
num_Q4                                                       1
DominantQ                                                   30
dtype: object

In [39]:
sample_Q4.sum(axis=0)

songID       9eMxCs-LXCEvJ77eDxHezEQ49PWE0RJLYGAvPwG2wYZMhe...
num_Q1                                                       0
num_Q2                                                       0
num_Q3                                                       1
num_Q4                                                      25
DominantQ                                                   40
dtype: object

In [174]:
val_data = pd.concat([sample_Q1, sample_Q2, sample_Q3, sample_Q4], ignore_index = True)

In [177]:
val_data.sum(axis = 0)

songID       FfwKrQyQ7WUmiqLU2739dkeVMSeElk81QsZe3IB1OVfwpN...
num_Q1                                                      28
num_Q2                                                      27
num_Q3                                                      26
num_Q4                                                      26
DominantQ                                                  100
dtype: object

In [178]:
val_data.to_csv('val_songs_2.csv', index = False)

In [46]:
27/250

0.108

In [47]:
27/265

0.1018867924528302

In [48]:
27/253

0.1067193675889328

In [49]:
30/310

0.0967741935483871

In [179]:
val_csv = 'val_songs_2.csv'
val_data = pd.read_csv(val_csv)
val_data.head()

        songID  num_Q1  num_Q2  num_Q3  num_Q4  DominantQ
0  FfwKrQyQ7WU       4       0       0       0          1
1  miqLU2739dk       1       1       0       0          1
2  eVMSeElk81Q       3       0       0       0          1
3  sZe3IB1OVfw       2       0       0       0          1
4  pNwQ9Tu_bCs       3       0       0       0          1

In [180]:
all_csv = 'metadata.csv'
all_data = pd.read_csv(all_csv)
def _clean(ID):
    return ID[3:-2] + '.' + ID[-1]

def _turnback(ID, Q):
    return 'Q' + str(Q) + '_' + ID[:-2] + '_' + ID[-1]

all_data['ID'] = all_data.apply(lambda x:_clean(x.ID), axis = 1)
all_data[['songID','clip']] = all_data.ID.str.split(".",expand=True)
all_data_rename = all_data.rename(columns={'4Q': 'Q'})
all_data['ID'] = all_data_rename.apply(lambda x:_turnback(x.ID, x.Q), axis = 1)
all_data.head()

                 ID  4Q annotator       songID clip
0  Q1_0vLPYiPN7qY_0   1         D  0vLPYiPN7qY    0
1  Q1_0vLPYiPN7qY_1   1         D  0vLPYiPN7qY    1
2  Q1_0vLPYiPN7qY_2   1         D  0vLPYiPN7qY    2
3  Q1_1Qc15G0ZHIg_1   1         D  1Qc15G0ZHIg    1
4  Q1_1Qc15G0ZHIg_2   1         D  1Qc15G0ZHIg    2

In [181]:
songlist = val_data['songID'].to_list()

In [182]:
val_datas = all_data[all_data['songID'].isin(songlist)]

In [183]:
val_files = val_datas['ID'].to_list()

In [184]:
import json
filename = 'validation_songs_2.json'
with open(filename, 'w') as f:
    json.dump(val_files, f)

# Statistics for val set

In [185]:
with open('./representations/valid_fn2idx_map_2.json') as f:
    files = json.load(f)

In [186]:
dd = {'vals' :list(files['fn2idx'].keys())}
vals = pd.DataFrame(dd)

In [187]:
def _clean(ID):
    return ID[1] + '.' + ID[3:-2]

vals['vals'] = vals.apply(lambda x:_clean(x.vals), axis = 1)

In [188]:
vals.head()

            vals
0  1.5NW0zDu6IYM
1  1._8v0MFBZoco
2  3.ijfxkQPAQdE
3  2.ijfxkQPAQdE
4  2.ivCNV47tsRw

In [189]:
vals[['Q','songID']] = vals.vals.str.split(".",expand=True)

In [190]:
vals.head()

            vals  Q       songID
0  1.5NW0zDu6IYM  1  5NW0zDu6IYM
1  1._8v0MFBZoco  1  _8v0MFBZoco
2  3.ijfxkQPAQdE  3  ijfxkQPAQdE
3  2.ijfxkQPAQdE  2  ijfxkQPAQdE
4  2.ivCNV47tsRw  2  ivCNV47tsRw

In [191]:
Q1_list = vals[vals['Q'] == '1']

In [192]:
len(Q1_list.index)

26

In [193]:
Q2_list = vals[vals['Q'] == '2']
len(Q2_list.index)

25

In [194]:
Q3_list = vals[vals['Q'] == '3']
len(Q3_list.index)

24

In [195]:
Q4_list = vals[vals['Q'] == '4']
len(Q4_list.index)

25

# Statistics for training set

In [196]:
with open('./representations/train_fn2idx_map_2.json') as f:
    files = json.load(f)
    
dd_t = {'train' :list(files['fn2idx'].keys())}
train_data = pd.DataFrame(dd_t)

def _clean(ID):
    return ID[1] + '.' + ID[3:-2]

train_data['train'] = train_data.apply(lambda x:_clean(x.train), axis = 1)
train_data[['Q','songID']] = train_data.train.str.split(".",expand=True)
train_data.head()

            train  Q        songID
0   3.uj3Gif77SYM  3   uj3Gif77SYM
1   2.sEQf5lcnj_o  2   sEQf5lcnj_o
2   2.jIKX3ShvLxo  2   jIKX3ShvLxo
3  2.Ie5koh4qvJc_  2  Ie5koh4qvJc_
4   2.sEQf5lcnj_o  2   sEQf5lcnj_o

In [197]:
Q1_list = train_data[train_data['Q'] == '1']
len(Q1_list.index)

213

In [198]:
Q2_list = train_data[train_data['Q'] == '2']
len(Q2_list.index)

228

In [199]:
Q3_list = train_data[train_data['Q'] == '3']
len(Q3_list.index)

220

In [200]:
Q4_list = train_data[train_data['Q'] == '4']
len(Q4_list.index)

282

In [201]:
25/213

0.11737089201877934

In [202]:
25/228

0.10964912280701754

In [203]:
24/220

0.10909090909090909

In [204]:
25/282

0.08865248226950355